MCP_HTTP_PORT=8087
MCP_BIND_ADDRESS=0.0.0.0
MCP_TOOL_MODE=individual

REDIS_URL=redis://redis:6379/0
QUEUE_NAME=av-jobs
QUEUE_NAME_URGENT=
QUEUE_NAME_BATCH=
QUEUE_NAMES=

STORAGE_BACKEND=local
STORAGE_LOCAL_DIR=/data/assets
STORAGE_TEMP_DIR=/data/staging

PUBLIC_BASE_URL=http://localhost:8087
DOWNLOAD_SIGNING_SECRET=change-me
DOWNLOAD_URL_TTL_SECONDS=3600

MAX_INGEST_BYTES=500000000
MAX_OUTPUT_BYTES=500000000
MAX_DURATION_SECONDS=3600
INGEST_TIMEOUT_SECONDS=300
INGEST_STREAM_CHUNK_BYTES=65536
INGEST_RANGE_CHUNK_BYTES=8388608

ASSET_TTL_HOURS=24
JOB_TTL_HOURS=24
CLEANUP_INTERVAL_SECONDS=900
JOB_STALE_SECONDS=0

ALLOWED_DOMAINS=cdn.discordapp.com,media.discordapp.net,googleusercontent.com,drive.google.com,docs.google.com
ALLOWED_CONTENT_TYPES=video/*,audio/*,image/*,application/octet-stream
ALLOW_IMAGE_INGEST=true

FFMPEG_TIMEOUT_SECONDS=900
FFMPEG_TEXT_TIMEOUT_SECONDS=0
FFMPEG_LOGO_TIMEOUT_SECONDS=0
FFMPEG_CONCAT_TIMEOUT_SECONDS=0
FFMPEG_IMAGE_TIMEOUT_SECONDS=0
FFMPEG_SLIDESHOW_TIMEOUT_SECONDS=0
FFMPEG_AUDIO_TIMEOUT_SECONDS=0
FFMPEG_TEMPLATE_TIMEOUT_SECONDS=0
FFMPEG_WORKFLOW_TIMEOUT_SECONDS=0
FFMPEG_BATCH_TIMEOUT_SECONDS=0

MAX_TEXT_CHARS=200
MIN_FONT_SIZE=16
MAX_FONT_SIZE=160
MAX_BOX_BORDER_WIDTH=80
OVERLAY_MARGIN_PX=32

FONT_DIRS=/usr/share/fonts/truetype/dejavu
FONT_ALLOWLIST=
FONT_DEFAULT=/usr/share/fonts/truetype/dejavu/DejaVuSans.ttf

LOGO_DIR=/data/logos
LOGO_ALLOWLIST=
LOGO_MIN_SCALE_PCT=5
LOGO_MAX_SCALE_PCT=40
LOGO_MAX_OPACITY=1.0

DEFAULT_VIDEO_FPS=30
DEFAULT_IMAGE_DURATION_SEC=3
DEFAULT_IMAGE_WIDTH=1080
DEFAULT_IMAGE_HEIGHT=1080

MAX_CONCAT_CLIPS=20
MAX_SLIDESHOW_IMAGES=60
MAX_AUDIO_TRACKS=8
MAX_TEMPLATE_LAYERS=12
MAX_TEMPLATE_TEXT_LAYERS=6
MAX_WORKFLOW_NODES=40
MAX_BATCH_ASSETS=50
MAX_BATCH_PRESETS=12
SOCIAL_PRESETS=mp4_social_vertical_1080x1920,mp4_social_square_1080x1080,mp4_social_portrait_1080x1350,mp4_youtube_1920x1080

MAX_CAPTION_SEGMENTS=200
CAPTION_MAX_CHARS=72
CAPTION_MAX_LINES=2
CAPTION_MAX_WORDS=10
CAPTION_LINE_SPACING=8
CAPTION_FONT_SIZE=48
CAPTION_POSITION=bottom_safe
CAPTION_TEXT_COLOR=white
CAPTION_BOX_COLOR=black
CAPTION_BOX_OPACITY=0.6
CAPTION_HIGHLIGHT_COLOR=yellow
CAPTION_PADDING_PX=24
CAPTION_SAFE_ZONE_BOTTOM_PX=96
CAPTION_SAFE_ZONE_TOP_PX=64
AUTO_CAPTION_FONT_SIZE_MIN=16
AUTO_CAPTION_FONT_SIZE_MAX=160
AUTO_CAPTION_BOX_OPACITY_MIN=0.4
AUTO_CAPTION_BOX_OPACITY_MAX=0.85
AUTO_MUSIC_GAIN_MIN=0.4
AUTO_MUSIC_GAIN_MAX=1.0
AUTO_MAX_CROP_PCT=45
AUTO_MIN_DURATION_SEC=0

AUDIO_NORM_I=-16
AUDIO_NORM_LRA=11
AUDIO_NORM_TP=-1.5
AUDIO_SAMPLE_RATE=44100
AUDIO_MIN_SILENCE_SEC=0.5
AUDIO_SILENCE_DB=-50
AUDIO_FADE_DEFAULT_SEC=1
AUDIO_DUCKING_RATIO=8
AUDIO_DUCKING_THRESHOLD=0.02
AUDIO_DUCKING_ATTACK_MS=20
AUDIO_DUCKING_RELEASE_MS=200
AUDIO_DUCKING_MUSIC_GAIN=0.8

DRAFT_MAX_DIMENSION=720
DRAFT_CRF=28
DRAFT_PRESET=ultrafast
DRAFT_AUDIO_BITRATE=96k
DRAFT_WATERMARK_ENABLED=true
DRAFT_WATERMARK_TEXT=DRAFT
DRAFT_WATERMARK_OPACITY=0.35
DRAFT_WATERMARK_FONT_SIZE=48
MCP_LOG_REQUESTS=false
MCP_LOG_LEVEL=INFO
MCP_LOG_STRUCTURED=false

DISCORD_BOT_TOKEN=
DISCORD_API_BASE=https://discord.com/api/v10
DISCORD_MAX_UPLOAD_BYTES=25000000

GOOGLE_DRIVE_CREDENTIALS_PATH=
GOOGLE_DRIVE_IMPERSONATE_USER=
GOOGLE_DRIVE_FOLDER_DEFAULT=

# Optional S3/MinIO settings
S3_BUCKET=
S3_REGION=
S3_ENDPOINT_URL=
S3_ACCESS_KEY=
S3_SECRET_KEY=
